*{margin: 0; padding: 0}
body{background-color: white;margin: 0;padding: 0;width: 100%;height: 100%; margin-right: auto; margin-left: auto; overflow: hidden;
    background: #000000 url(https://image.ibb.co/iAH8YT/ANIbg.gif) scroll repeat
    ;}
.overlay {overflow: hidden;position: absolute;width: 100%;height: 0;top: 0;z-index: 2;background-image: url("../img/back.gif");background-repeat: no-repeat;background-size: 100%; transition: height 1s ease-in-out}
.overlay.open {height: 100%}
.overlay.open .link-wrapper {opacity: 1}
.overlay .link-wrapper {position: absolute;width: 100%;height: auto;top: 50%;left: 50%;transform: translate(-50%, -50%);opacity: 0;transition: opacity 300ms ease 300ms}
.overlay .link-wrapper a {position: relative;font-family: Helvetica;font-weight: bold;font-size: 40px;line-height: 60px;color: white;outline: none;border: none;text-decoration: none;text-transform: uppercase;display: block;text-align: center;padding-bottom: 2px}
.overlay .link-wrapper a span {display: inline-block}
.overlay .link-wrapper a span:after {content: '';display: block;margin: auto;height: 5px;width: 0px;background: transparent;transition: width 300ms ease, background-color 300ms ease}
.overlay .link-wrapper a:hover {color: white}
.overlay .link-wrapper a:hover span:after {width: 100%;background-color: white}
.navigation {width: 100%;height: 40px;z-index: 400;position: absolute}
.burger_deluxe {position: absolute;top: 15px;right: 15px;cursor: pointer;width: 34px;height: 40px;z-index: 3}
.burger_deluxe .burger_global {position: absolute;border-top: 5px solid white;width: 100%}
.burger_deluxe .burger_global.top_bun {top: 0;transition: transform 500ms ease, border 500ms ease;transform-origin: left center}
.burger_deluxe .burger_global.patty {top: 12px;transition: opacity 500ms ease}
.burger_deluxe .burger_global.bottom_bun {top: 24px;transition: transform 500ms ease, border 500ms ease;transform-origin: left center}
.burger_deluxe.open span {border-color: white}
.burger_deluxe.open .top_bun {transform: rotate(45deg)}
.burger_deluxe.open .patty {opacity: 0}
.burger_deluxe.open .bottom_bun {transform: rotate(-45deg)}

#mainImg{width: 100%;text-align: right}

section#bestPage #best1{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 10px}
section#bestPage #best1 img{width: 100%}
section#bestPage #best2{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 25%}
section#bestPage #best2 img{width: 100%}
section#bestPage #best3{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 50%}
section#bestPage #best3 img{width: 100%}
section#bestPage #best4{width: 23%; cursor: pointer; position: absolute; top: 10px; left: 75%}
section#bestPage #best4 img{width: 100%}
section#bestPage #best5{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 10px}
section#bestPage #best5 img{width: 100%}
section#bestPage #best6{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 25%}
section#bestPage #best6 img{width: 100%}
section#bestPage #best7{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 50%}
section#bestPage #best7 img{width: 100%}
section#bestPage #best8{width: 23%; cursor: pointer; position: absolute; top: 50%; left: 75%}
section#bestPage #best8 img{width: 100%}

section#ost #tabMenu1{background-image: url("../img/tabMenu1.png"); background-size: 100%}
section#ost #tabMenu2{background-image: url("../img/tabMenu2.png"); background-size: 100%}
section#ost #tabMenu3{background-image: url("../img/tabMenu3.png"); background-size: 100%}
section#ost #tabMenu4{background-image: url("../img/tabMenu4.png"); background-size: 100%}
section#ost .vinyl{width: 700px; height: 700px; margin-left: auto; margin-right: auto; background: url("../img/vinyl.png") top center no-repeat;background-size: 100%; animation: spin 4s linear infinite; animation-play-state: paused}
section#ost .vinyl:hover {animation-play-state: running;border: solid white 1px;border-radius:100%;}
section#ost{padding-top: 50px}
@keyframes spin {100% {transform: rotate(1turn);}}
section#ost a{text-decoration:none}
section#ost ul{list-style-type:none}
section#ost .tab-menu ul{display:block;margin-left: 20%;margin-top: 4%}
section#ost .tab-menu li{width:150px;height: 150px}
section#ost .tab-menu li a{position:relative;display:block;width:100%;height:100%;text-transform:uppercase;text-align:center;color:#fff;line-height:30px}
section#ost .tab-menu li a.selected{background-color:rgba(0, 255, 13, 0.541);cursor:default}
section#ost .tab-container{width:800px;margin:0 auto;position: absolute; left:40%; top:5%}
section#ost .tab-container .tab-content{display:none;padding:30px;box-sizing:border-box}
section#ost .tab-container .tab-content.selected{display:block} 



  
section#guestbook #list_section {text-align: center}
section#guestbook h1 {color: white;margin: 0px auto;padding: 20px}
section#guestbook ul {padding: 0}
section#guestbook li {background-color: #fff;color: #000;font-size: 20px;list-style-type: none;width: 20%;margin: 0px auto;border-radius: 3px;border: 1px solid #000;padding: 10px;margin-bottom: 10px}
section#guestbook p {background-color: #fff;color: #666;padding: 10px;display: inline-block;margin: 20px auto 20px auto;width: 80%;border-radius: 5px;text-align: center;}
section#guestbook .item {background-color: #fff;color: #000}
section#guestbook input[type='text'] {font-size: 12px;padding: 6px;border: 1px solid #000;border-radius: 3px}
section#guestbook input[type='submit'] {background-color: #fff;color: #000;border-radius: 8px;border: none;padding: 5px;}
section#guestbook #newItemButton {display: none}
section#guestbook#itemField {margin-top: 60px;width: 10%}

section#endand h1{color: white}